- content_for 'page_scripts', page_edit_javascripts
- content_for 'page_css' do
  :sass
    #content
      #extended-metadata
        .fieldset
          margin-left: 0
          margin-right: 0
          margin-bottom: .5em
          padding: 0
          td.label
            text-align: left
            width: 15%
            .textbox
              width: 90%
