- render_region :main do |main|
  - main.edit_header do
    %h1= t('views.pages.edit_page')
  - main.edit_form do
    - form_for :page, @page, :url => admin_page_path(@page), :html => {:method => :put, :multipart => true, :id => 'edit_page'} do |fields|
      = render :partial => "fields", :object => fields
  - main.edit_popups do
    = render :partial => "popups"
= render :partial => "edit_styles"