- @page_title = @page.title + ' - ' + default_page_title

- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1= t('edit_page')
  - main.edit_form do
    - form_for :page, @page, :url => admin_page_path(@page), :html => {:method => :put, :multipart => true, :id => 'edit_page'} do |fields|
      = render :partial => "fields", :object => fields
  - main.edit_popups do
    = render :partial => "popups"

- content_for 'page_scripts', page_edit_javascripts