- render_region :main do |main|
  - main.edit_header do
    %h1 New Page
  - main.edit_form do
    - form_for @page, :url => admin_pages_path, :html => {:multipart => true} do |f|
      = render :partial => "fields", :object => f
  - main.edit_popups do
    = render :partial => "popups"
= render :partial => "edit_styles"