- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1= t('views.pages.new_page')    
  - main.edit_form do
    - form_for :page, @page, :url => admin_pages_path, :html => {:id => 'new_page', :multipart => true} do |f|
      = render :partial => "fields", :object => f
  - main.edit_popups do
    = render :partial => "popups"

- content_for 'page_scripts', page_edit_javascripts