.rvmrc
.ruby-version
.ruby-gemset
.rspec-local
config/database.yml
db/*.db
spec/dummy/db/*
log/*.log
spec/dummy/log/*
spec/dummy/tmp/*
pkg
tmp/*
spec/tmp/*
.DS_Store
.svn
TAGS
public/tmp
public/assets
public/stylesheets/admin
spec/datasets/tmp
*.tmproj
.idea
rerun.txt
*.swp
radiant-*.gem
.bundle
*.lock
