[submodule "vendor/plugins/vizres"]
	path = vendor/plugins/vizres
	url = git://github.com/pelargir/vizres.git
[submodule "vendor/plugins/dataset"]
	path = vendor/plugins/dataset
	url = git://github.com/aiwilliams/dataset.git
