[submodule "vendor/extensions/german_language_pack"]
	path = vendor/extensions/german_language_pack
	url = git://github.com/radiant/radiant-german_language_pack-extension.git
[submodule "vendor/extensions/dutch_language_pack"]
	path = vendor/extensions/dutch_language_pack
	url = git://github.com/radiant/radiant-dutch_language_pack-extension.git
