.bundle
config/database.yml
db/*.db
db/*.sqlite3
log/*.log
pkg
tmp/*
.DS_Store
.svn
TAGS
public/tmp
public/assets
public/stylesheets/admin
spec/datasets/tmp
*.tmproj
.idea
rerun.txt
*.swp
radiant-*.gem
.rvmrc
.bundle
