pkg
.DS_Store
.svn
TAGS
public/stylesheets/admin/styles.css
*.tmproj
.idea
rerun.txt
*.swp

test/railsapp/config/database.yml
test/railsapp/db/*.db
test/railsapp/db/*.sqlite3
test/railsapp/log/*.log
test/railsapp/tmp/*
test/railsapp/public/tmp
test/railsapp/.bundle
test/railsapp/spec/datasets/tmp