rvm:
  - 2.0.0
  - 1.9.3

before_install: rm -f Gemfile

before_script: bin/ci/before_script

bundler_args: --without development

script: bundle exec rake spec

notifications:
  recipients:
    - ci@spanner.org
  irc: "irc.freenode.org#radiantcms"

env:
  - DB=mysql
  - DB=postgres

gemfile:
  - rails40.gemfile
  - rails32.gemfile
