project_type = :rails
project_path = Compass::AppIntegration::Rails.root

http_path             = "/"
http_stylesheets_path = "/stylesheets"
http_images_path      = "/images"
http_javascripts_path = "/javascripts"

sass_dir              = "public/stylesheets/sass"
css_dir               = "public/stylesheets"
images_dir            = "public/images"
javascripts_dir       = "public/javascripts"

environment = Compass::AppIntegration::Rails.env

relative_assets = true

output_style = :compressed