- @page_title = @snippet.name + ' Snippet - ' + default_page_title

- render_region :main do |main|
  - main.edit_header do
    %h1 Edit Snippet
  - main.edit_form do
    = render :partial => 'form'

- content_for 'page_scripts', snippet_edit_javascripts