- @page_title = @snippet.name + ' ' + t('snippet') + ' - ' + default_page_title

- render_region :main do |main|
  - main.edit_header do
    %h1= t('edit_snippet')  
  - main.edit_form do
    = render :partial => 'form'

- content_for 'page_scripts', snippet_edit_javascripts