- @page_title = @layout.name + ' Layout - ' + default_page_title

- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1= t('views.layouts.edit_layout')       
  - main.edit_form do
    = render :partial => 'form'
