- @page_title = @layout.name + ' ' + t('layout') + ' - ' + default_page_title

- body_classes << "reversed"

- render_region :main do |main|
  - main.edit_header do
    %h1= t('edit_layout')       
  - main.edit_form do
    = render :partial => 'form'
