%h1 Remove Layout

%p Are you sure you want to <strong class="warning">permanently remove</strong> the following layout?

%table.index#layouts{:cellpadding=>0, :cellspacing=>0, :border=>0}
  %tbody
    %tr.node.level_1
      %td.layout
        = image('layout', :alt => 'layout-icon')
        = h @layout.name

- form_for [:admin, @layout], :html => { :method => 'delete' } do
  %p.buttons
    %input.button{:type=>"submit", :value=>"Delete Layout"}/
    or
    = link_to 'Cancel', admin_layouts_url