%p#display_password{:style=> (@user.new_record? or !@user.valid?) ? "display: none" : nil}
  %label Password
  %span.value
    &bull;&bull;&bull;&bull;&bull;
    %a.action{:href=>"#", :onclick=>" $('display_password').hide(); $('change_password').show()"} Change
.set#change_password{:style=> (!@user.new_record? && @user.valid?) ? "display: none" : nil}
  %p
    = f.label :password, "New Password"
    = f.password_field "password", :class => "textbox big", :value => "", :size => 15, :maxlength => 40
  %p
    = f.label :password_confirmation, "Confirm New Password"
    = f.password_field "password_confirmation", :class => "textbox big", :value => "", :size => 15, :maxlength => 40
    - unless @user.new_record?
      %span
        or
        %a{:href=>"#", :onclick=>" $('display_password').show(); $('change_password').hide()"} Cancel